@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "Inter", serif;
}
.btn{
    color:white
}
.grey-700{
    background-color: hsl(0, 0%, 20%);
}
.grey-800{
    background-color: hsl(0, 0%, 12%)
}
.grey-900{
    background-color:  hsl(0, 0%, 8%);
}
.green-text{
    color: hsl(75, 94%, 57%)
}

h1{
    font-size:30px;
    
}
h3{
    font-size: 17px;
    font-weight: 700;
}
.btn:Hover{
    background-color:hsl(75, 94%, 57%) ;
    color:hsl(0, 0%, 12%);
}
.btn{
    font-weight: 700;
}
.social-links{
    max-width: 500px;
   margin-top: 150px;
    margin-bottom: 150px;
}
.p-2{
    padding: .75rem !important;
}